.page-login{
    background-color: #0a1e3f;  
    background:url("../assets/images/login_bg.jpg");
 
    button{
    height:12vw;
    width:100%;
    font-size:4.5vw;
    border-radius: 1vw;
    }

    ion-item{
        border:none;
        padding-left:0; 
        background-color: transparent;
        ion-input{
            color:#fff;
        }
        ion-icon{
            color:#fff;
        }
        ion-label{
            margin:0;
        }

        img{
            margin-top:8vw;
            margin-bottom:8vw;
            margin-left:35%;
            margin-right:auto;
            width:30%;
        }
    }

    .item-inner{
        border:none;
        width:100%;
        padding:0;
    }

    form{
        ion-item{
            background-color: #fff;
            border-bottom: 1px solid #ddd;
            ion-icon{
            color:#000;
            margin-left:10px !important;
            }
            ion-input{
            color:#000;
            }

        }
        ion-item.top-item{
            border-top-left-radius: 1vw;
            border-top-right-radius: 1vw;
        }
        ion-item.bottom-item{
            border-bottom-left-radius: 1vw;
            border-bottom-right-radius: 1vw;
        }
    }

    .log-item{
        padding-bottom:0;  
        padding-top:1px;
        padding-left:5px;
        padding-right: 5px;
        button{
            .button-inner{
                margin-left:-4vw;
            }
        }
    }

    .face-item{
        padding-bottom: 1px;
        padding-top:1px;
        button{
            background-color:#3b5997;
            color:#fff;
        }
    }
    .google-item{
        padding-bottom: 1px;
        padding-top:1px;
        button{
            background-color:#DF4A32;
            color:#fff;
            .button-inner{
                margin-left:-3vw;
            }
        }
    }
    .bt-item{
        background-color: transparent;
        border-bottom: none;
        .item-inner{
            border-bottom: none;
        }
        .input-wrapper{
            background-color: transparent;
        }
        button{
            //background-color:#3b5997;
            color:#fff;
            width:45%;
        }
        a{
            color:#cccccc;
            font-size:4vw;
        }
    }
}

.pull-left{
  float:left;
}
.pull-right{
  float:right;
}


