<ion-header class="pageStore">
  <ion-navbar color="primary">
    <ion-title>
      Stores
    </ion-title> 
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="GoToNewStore()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
<ion-searchbar (input)="Search($event)" placeholder="Search Store"></ion-searchbar>
</ion-header>
<ion-content>
<ion-list *ngIf="stores">
    <button ion-item *ngFor="let store of stores" (click)="GoToStoreDetails(store.id)">
    <ion-avatar item-left>
      <img [src]="store.image">
    </ion-avatar>
    <h2>{{ store.name }}</h2>
    <ion-icon md="md-arrow-forward"></ion-icon>
  </button>
</ion-list>
</ion-content>
