<ion-header class="pageStore">
  <ion-navbar color="primary">
    <ion-title>
      Stores
    </ion-title> 
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="GoToNewStore()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
<ion-searchbar [(ngModel)]="searchTerm" (ionInput)="SetFilteredStores()"></ion-searchbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let store of storesList">  
    <ion-list>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/images/pcconnection.png">
        </ion-thumbnail>
        <h2><b>{{ store.name }}</b></h2>
        <p>Santa Rosaweg 11</p>
        <p color="light"><b>&bull; Open Now</b></p>
        <button ion-button clear small color="secondary" item-right (click)="GoToStoreDetails(store.id)">
          View
        </button>
      </ion-item>
    </ion-list>
    <ion-row no-padding>
      <ion-col>
        <a href="tel:{{store.phone}}">
          <button ion-button clear small color="secondary" icon-left>
            <ion-icon name='phone-portrait'></ion-icon>
            Call now
          </button>
        </a>
      </ion-col>      
      <ion-col text-right>
        <button ion-button clear small color="secondary" icon-left (click)="ToggleFavorite(store)">
          <ion-icon *ngIf="!store.isFavorite" name='heart-outline'></ion-icon>
          <ion-icon *ngIf="store.isFavorite" name='heart'></ion-icon>
          Favorite
        </button>
      </ion-col>
      
      <ion-col text-right>
       <!-- <button ion-button clear small color="secondary" icon-left (click)="GoToStoreDetails(store.id)">
          <ion-icon name='share-alt'></ion-icon>
          Details
        </button>-->
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

